@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

#sapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid #e4e5e8;
  box-shadow: 0 3px 10px 0 rgba(66, 66, 66, 0.05);
}
